<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414604721484-cr19kl02k5efdedsfi8oa3mqqqpep4ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414604721484-cr19kl02k5efdedsfi8oa3mqqqpep4ok</string>
	<key>API_KEY</key>
	<string>AIzaSyAemPUFi_Lc3BKx-jSv-Q-uh7xBS6pyQw0</string>
	<key>GCM_SENDER_ID</key>
	<string>414604721484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vcare</string>
	<key>PROJECT_ID</key>
	<string>vcare-39387</string>
	<key>STORAGE_BUCKET</key>
	<string>vcare-39387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414604721484:ios:096e2e6198367eaa19a3e9</string>
</dict>
</plist>